body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

header a {
    color: aquamarine;
    font-size: 16px;
}